:root {

  --success: 0, 166, 66;
  --warning: 255, 184, 0;
  --error: 235, 30, 79;

  --gray01: 24, 24, 28;
  --gray02: 28, 28, 31;
  --gray03: 32, 32, 36;
  --gray04: 36, 36, 39;
  --gray05: 93, 93, 96;

  --yellow01: 253, 201, 89;

  --defaultFont: 'NotoSansRegular', Arial, sans-serif;
  --regularFont: 'NotoSansRegular', Arial, sans-serif;
  --mediumFont: 'NotoSansMedium', Arial, sans-serif;
  --boldFont: 'NotoSansBold', Arial, sans-serif;
  --blackFont: 'NotoSansBlack', Arial, sans-serif;
}